h1 h2 h3 p {
  font-family: Helvetica;
}

h1 {
  background-image: url("./resources/images/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
  }

.brush {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:mediumspringgreen;
}
.frame {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:lightcoral;
}
.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:skyblue;
}

.price {
  color:Blue;
  font-weight: bold;
}
